header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100vw;
    gap: 32px;
}
header .logo-container {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 100%;
}
header .logo-container img {
    height: 100px;
    object-fit: contain;
}
header .text-container {
  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
  max-width: 80%;
}
header .text-container h1 {
    font-size: 34px;
    color: var(--dark-grey);
}
header .text-container p {
    color: var(--light-grey);
}
header .text-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: 24px;
}
header .text-container .heading{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
margin-bottom: 24px;
gap: 14px;
}
header .text-container .heading .heading-border {
    height: 12px;
    width: 40%;
    background-color: var(--dark-grey);
}