header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100vw;
}
header .logo-container {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 100%;
}
header .text-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}
header .text-container h1 {
    font-size: 34px;
    color: var(--dark-grey);
}
header .text-container p {
    color: var(--light-grey);
}